* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI';
    line-height: 1.5;
    background-color: #d1e1f1;
    color: #333;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}
img {
    display: block;                
    margin: 20px auto;             
    max-width: 60%;               
    height: auto;                  
    border-radius: 10px;           
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: 3px solid #004080;     
}

h1 {
    text-align: left;
    color: #8022b6;
    margin-bottom: 30px;
    font-size: 2.5em;
    border-bottom: 2px solid #8022b6;
    padding-bottom: 10px;
}


p {
    margin-bottom: 15px;
    text-align: justify;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


th {
    background-color: #183542;
    color: white;
    padding: 12px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ddd;
}


td, th {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}


td {
    color: #004080;
    font-weight: bold;
}


